<div class="text-center">
  <div class="top">
    <h1>Welcome to Don't throw!</h1>
    <p>このサイトは、東京薬科大学に所属している方でいらなくなった教科<br>
    書、参考書、実験で使ったものなどをここに出品していただいて、ほ<br>
    しい方がいればそれを譲っていただくためのものです。</p>
    <p>出品者は画像と商品の説明を投稿して、ほしい方はその方とチャット<br>
    をしてやりとりをし、実際に会って、モノをいただきます。</p>
    <p>特に6年生は卒業前にいらなくなったものがありましたら是非ここに出<br>
    品していただきたいです。</p>
    <p>ログインするとこの説明は表示されないので注意してください。</p>
  </div>
</div>